.timeline {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 1;
}

.timeline__left {
    max-width: 70%;
}

.timeline__right {
    max-width: 25%;
}

.timeline__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 660px;
}

.story__header{
    margin: 18px;
    text-align: center;
}
.story__header h5{
    padding: 4px 5px;
    width: 97px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.128);
    border-radius: 9px;
    box-shadow: 5px 4px 42px 15px rgba(34, 60, 80, 0.2);
}
.stories{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1px;
    max-width: 660px;
    margin: auto;
    overflow-x: hidden;
    max-width: 660px;
}

@media (max-width: 1160px) {
    .timeline__right{
        display: none;
    }
    .timeline__left {
        max-width: 100%;
    }
}

@media (max-width: 767px){
    .timeline-left{
        display: none;
    }
}
@media (max-width:620px) {
    .stories{
        width: 475px;
    }
    .timeline__container{
        width: 475px;
    }
}
@media (max-width:475px) {
    *{
        margin: 0;
        padding: 0;
    }
}