.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 11;
    border-right: 0.4px solid rgb(80, 80, 80);
    width: 240px;
    cursor: pointer;
    background-color: #000;
}
  
.sidenav__logo {
    width: 120px;
    margin: 25px;
}
  
.sidenav__buttons {
    top: 0;
    display: flex;
    flex-direction: column;
}

.sidenav__button {
    display: flex;
    font-display: row;
    align-items: center;
    color: white;
    background: 0;
    border: 0;
    margin: 5px 10px;
    padding: 10px 15px;
    border-radius: 15px;
    width: 95%;
}
.sidenav__button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.128);
}
.sidenav__button > span {
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
}
.sidenav__more{
    position: fixed;
    bottom: 3px;
}
.profil{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.icons{
    font-size: 26px;
}

@media (max-width: 1265px){
    .sidenav__button span{
        display: none;
    }
    .sidenav{
        width: 100px;
    }
    .sidenav__logo{
        display: none;
    }
    .logo{
        display: inline;
    }
}

@media (max-width:767px) {
    .sidenav{
        display: none;
        /* position: fixed; */
        /* bottom: 0px;
        left: 0px;
        height: 6vh;
        display: flex;
        flex-direction: row;
        z-index: 11;
        border-top: 0.4px solid rgb(80, 80, 80);
        max-width: 100%;
        cursor: pointer;
        background-color: #000; */
    }
    .sidenav__buttons {
        display: none;
        bottom: 0;
        /* display: flex; */
        flex-direction: row;
    }
    .sidenav__button {
        display: none;
        /* display: flex; */
        font-display: row;
        align-items: center;
        color: white;
        background: 0;
        border: 0;
        margin: 5px ;
        padding: 10px ;
        border-radius: 5px;
        width: 95%;
    }
    .sidenav__more{
        display: none;
    }
}